<!DOCTYPE html>

<!-- 2. basic 페이지에 조각을 전달 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<!-- 1. content 라는 이름으로 조각 정의하기 -->
<th:block th:fragment="content">

<h1 class="mt-4">Board Register Page</h1>

<form action="/board/register" method="post">

<!-- DTO에 데이터가 수집되므로 각 입력필드에 알맞은 name을 지정 -->

  <div class="form-group">
    <label >제목</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label >내용</label>
    <textarea class="form-control" rows="5" name="content"></textarea>
  </div>
  <div class="form-group">
    <label >작성자</label>
    <input type="text" class="form-control" name="writer">
  </div>

  <button type="submit" class="btn btn-primary">등록</button>
</form>

</th:block>

</th:block>

